@include mediaXl{

        
    
 
}
@include mediaLg{
    grid-template-areas: 
    'tasty''tasty'
    'food1''food2'
    'food3';
    grid-template-columns: repeat(3,1fr);
        
    
}

@include mediaMd{
    .recipes{
        grid-template-areas: 
        'tasty'
        'food1'
        'food2'
        'food3';

        grid-template-columns: 1fr;
        
    }

    
}
@include mediaSm{

}